<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="MissingApplicationIcon">
        <activity
                android:name="androidx.activity.ComponentActivity"
                android:exported="false" />
        <activity
                android:name="androidx.fragment.app.FragmentActivity"
                android:exported="false" />

        <activity
                android:name="com.moriatsushi.koject.integrationtest.android.compose.viewmodel.RecreationTestActivity"
                android:exported="false" />
    </application>
</manifest>
